@import url("https://fonts.googleapis.com/css?family=Changa:400,800&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,500&subset=latin,latin-ext");

html {
    height: 100%;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: #e8eff1;
    height: 100%;
}

.logo-container {
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 18px;
    background-color: #d1dee2;
}

.logo-container .row {
    background-color: #d1dee2;
    padding-bottom: 10px;
}

.logo a {
    font-weight: 700;
    color: #000 !important;
}

.full-header {
    font-family: "Changa";
    background-image: url('../img/okvir.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

@media only screen and (max-width: 480px) {
    .full-header {
        background-size: cover;
    }
}

.full-header h1 {
    font-weight: 800;
    color: #ff2929;
    font-size: 70px;
    margin-bottom: 0;
}

.full-header h2 {
    color: #1092cd;
    font-weight: 800;
    font-size: 72px;
    margin-top: 0;
}

.full-header-pos {
    width: 100%;
    text-align: center;
    padding-top: 163px;
    min-height: 700px;
    font-variant-numeric: proportional-nums;
}

@media only screen and (max-width: 992px) {
    .full-header h1,
    .full-header h2 {
        font-size: 48px;
    }
    .full-header-pos {
        padding-top: 100px;
        min-height: 500px;
    }
}

@media only screen and (max-width: 480px) {
    .full-header h1,
    .full-header h2 {
        font-size: 28px;
    }
    .full-header-pos {
        min-height: 400px;
    }
}

@media only screen and (max-width: 768px) {
    .full-header-pos {
        width: auto;
        /*margin-right: 50px;*/
    }
}

.bar-header {
    background-color: #d1dee2;
    width: 100%;
    height: 75px;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.14);
    margin-bottom: 65px;
}

#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 10000;
    transition: top 0.25s;
}

.bar-header .header-desc {
    font-size: 24px;
    line-height: 75px;
}

.bar-header .header-klobuki {
    font-size: 24px;
    line-height: 75px;
}

@media only screen and (max-width: 480px) {
    .bar-header .header-desc,
    .bar-header .header-klobuki {
        font-size: 16px;
    }
}

.bar-header .header-klobuki > div {
    display: inline-block;
    height: 75px;
    float: right;
}

.bar-header .header-klobuki .caps {

}

.bar-header .header-klobuki .small-cap {
    width: 24px;
    height: 75px;
    display: inline-block;
    margin: 0 10px 0 -25px;
}

.bar-header .header-klobuki .small-cap svg {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 480px) {
    .grid-container > div {
        padding-left: 7px;
        padding-right: 7px;
    }
}

.cap-link {
    background-color: #ff2929;
    position: relative;
    height: 0;
    padding-top: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

.cap-link.clicked {
    opacity: 0.3;
}

.cap-container {
    position: absolute;
    top: 12%;
    left: 12%;
    width: 76%;
    height: 76%;
    fill: #f0f;
}

.cap-container svg.cap-icon {
    width: 100%;
    height: 100%;
    position: relative;
    top: 7%;
}

body > .cap-container {
    position: absolute;
    z-index: 10001;
}

#info-container {

}

#info-panel {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 60px 40px;
    font-size: 16px;
    font-weight: 400;
}

#info-panel h3 {
    font-family: "Changa";
    font-size: 36px;
    font-weight: 800;
    color: #ff2929;
    margin: 38px 0;
}

@media only screen and (max-width: 992px) {
    #info-panel h3 {
        margin-top: 0;
    }
}

#info-arrow {
    width: 0;
    border: 25px solid transparent;
    border-top-width: 0;
    border-bottom-color: #fff;
    position: absolute;
    top: -24px;
    z-index: 9999;
}

.text-container {
    margin-top: 50px;
    color: #1092cd;
}

@media only screen and (max-width: 992px) {
    /*.text-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }*/
}

.text-container b {
    font-weight: 500;
}

.text-container h1 {
    font-family: "Changa";
    font-weight: 800;
    margin-top: 50px;
}

.text-container h2 {
    margin-top: 50px;
    font-size: 32px;
}

#countdown-container {
    font-size: 36px;
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 50px;
}

#countdown {
    color: #ff2929;
}

.list-container .row {
}

.list-container .row > [class*='col-'] {
}

.footer-box {
    border: 1px dashed #1092cd;
    padding: 20px;
    position: relative;
    padding-top: 90px;
    margin-top: 50px;
    min-height: 450px;
}

.footer-box .footer-title {
    color: #1092cd;
    font-weight: 500;
    font-size: 18px;
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    padding: 0 20px;
}

.footer-box .footer-icon-container {
    width: 80px;
    height: 80px;
    background-color: #1092cd;
    color: #fff;
    font-size: 48px;
    font-family: "Changa";
    font-weight: 800;
    text-align: center;
    line-height: 80px;
    margin: 0 auto;
    padding: 15px;
}

.footer-title h4 {
    text-align: center;
}

.footer-box ul {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;
}

.footer-box li {
    list-style: none;
    position: relative;
    margin: 0;
    padding-left: 17px;
    margin-bottom: 20px;
    font-size: 16px;
}

.footer-box li:after {
    display: block;
    content: ' ';
    height: 7px;
    width: 7px;
    background: #ff2929;
    position: absolute;
    transform: rotate(45deg);
    top: 8px;
    left: 0;
}

.share-container {
    background-color: #1092cd;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

.share-container h1,
.share-container h2 {
    font-family: "Changa";
    font-weight: 800;
}

.share-container .icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #fff;
    padding: 20px;
    cursor: pointer;
    transition: all 0.15s;
}

.share-container .icon:hover {
}

.share-container .icon svg {
    width: 100%;
    height: 100%;
    fill: #1092cd;
    transition: all 0.15s;
}

.share-container .icon:hover svg {
    fill: #ff2929;
    transform: scale(1.2);
}

.share-container input {
    height: 80px;
    line-height: 80px;
    color: #1092cd;
    font-size: 24px;
    border: 0;
    text-align: center;
    max-width: 100%;
}

.form-container {
    margin-bottom: 50px;
}

#message-form label {
    margin-top: 20px;
    color: #1092cd;
}

#message-form textarea {
    height: 200px;
    resize: vertical;
}

#form-submit {
    background-color: #1092cd;
    border-radius: 0;
    border: 0;
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
}

#ze-poslanih {
    margin-top: 20px;
    color: #1092cd;
    color: #1092cd;
    font-size: 24px;
    margin-top: 20px;
    line-height: 46px;
    font-weight: 500;
}

/* popup stuff */

.popup {
    display: block;
    position: fixed;

    overflow-y: scroll;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: #d1dee2;

    z-index: 10;

    padding-top: 100px;
}
.closeme {
    display: block;
    position: absolute;

    top: 0;
    right: 40px;

    font-size: 70px;

    cursor: pointer;
}
.popup input[type="email"] {
    border-radius: 0;
    border-width: 0;

    text-align: center;
}

.popup button {
    background-color: #1092cd;
    border-radius: 0;
    border-width: 0;
    text-transform: uppercase;
    font-size: 22px;

    margin: auto;
    position: relative;
    display: block;

    width: 200px;

    margin-top: 30px;
    margin-bottom: 30px;

    color: #ffffff;
}
.popup button:hover {
    background-color: #005f9a;
    color: #ffffff;
}

.popup p {
    text-align: left;
    font-size: 18px;
}

/* confetti */

/* Confetti code modified from https://code.google.com/p/pamelafox-samplecode/ (r343).
   The original code is under the Apache 2.0 license.
   http://opensource.org/licenses/Apache-2.0
*/

.confetti {
    position: fixed;
    z-index: 9999;
    top: -50px;
    -webkit-animation-direction: normal, normal;
    -webkit-animation-timing-function: linear, ease-in;
}
.confetti span {
    display: block;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;
}
.confetti.tiny {
    font-size: 0.7em;
}
.confetti.small {
    font-size: 1em;
}
.confetti.medium {
    font-size: 2em;
}
@-webkit-keyframes fade {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes drop {
    0% {
        -webkit-transform: translate(0px, -40px);
    }
    100% {
        -webkit-transform: translate(0px, 600px);
    }
}
@-webkit-keyframes jitterA {
    0% {
        -webkit-transform: rotate(-70deg) rotateX(-20deg) rotateY(240deg);
    }
    100% {
        -webkit-transform: rotate(290deg) rotateX(340deg) rotateY(-120deg);
    }
}
@-webkit-keyframes jitterB {
    0% {
        -webkit-transform: rotate(75deg) rotateX(60deg) rotateY(-10deg);
    }
    100% {
        -webkit-transform: rotate(-280deg) rotateX(-230deg) rotateY(300deg);
    }
}
@-webkit-keyframes jitterC {
    0% {
        -webkit-transform: rotate(20deg) rotateX(40deg) rotateY(-50deg);
    }
    100% {
        -webkit-transform: rotate(320deg) rotateX(400deg) rotateY(200deg);
    }
}
@-webkit-keyframes jitterD {
    0% {
        -webkit-transform: rotate(-180deg) rotateX(20deg) rotateY(-100deg);
    }
    100% {
        -webkit-transform: rotate(180deg) rotateX(-300deg) rotateY(200deg);
    }
}
/* end of confetti */
